In [31]:
# Imports
from scipy import stats
import yfinance as yf
import pandas as pd
from statsmodels.tsa.stattools import adfuller, kpss, acf, pacf, q_stat
from arch.unitroot import PhillipsPerron
from statsmodels.tsa.stattools import grangercausalitytests
import statsmodels.api as sm
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Baixar dados de ações da Microsoft para os últimos 10 anos usando yfinance
msft = yf.download('MSFT',  start='2013-06-30', end='2023-06-30')
msft.reset_index(inplace=True)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [3]:
# %%
msft.head()

Price        Date      Close       High        Low       Open    Volume
Ticker                  MSFT       MSFT       MSFT       MSFT      MSFT
0      2013-07-01  28.194317  28.711268  28.169701  28.514333  31055400
1      2013-07-02  27.849680  28.259958  27.595309  28.235342  37630000
2      2013-07-03  27.907118  28.202519  27.570690  27.619924  15994400
3      2013-07-05  28.071226  28.095845  27.554278  27.972760  26085900
4      2013-07-08  28.169703  28.383046  27.882506  28.186111  32396900

In [4]:
# %% 
msft.columns

MultiIndex([(  'Date',     ''),
            ( 'Close', 'MSFT'),
            (  'High', 'MSFT'),
            (   'Low', 'MSFT'),
            (  'Open', 'MSFT'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [ ]:
# Realizar análise estatística básica
summary = msft.describe()
summary

Price,Date,Close,High,Low,Open,Volume
Ticker,,MSFT,MSFT,MSFT,MSFT,MSFT
count,2517,2517.000000,2517.000000,2517.000000,2517.000000,2.517000e+03
mean,2018-06-28 23:41:41.549463552,127.434820,128.674813,126.057296,127.382480,3.124876e+07
min,2013-07-01 00:00:00,25.740442,25.929579,25.453654,25.650593,7.425600e+06
25%,2015-12-29 00:00:00,45.453632,45.876480,44.916009,45.444764,2.218670e+07
50%,2018-06-28 00:00:00,94.193329,94.863857,92.889230,94.072236,2.759970e+07
75%,2020-12-28 00:00:00,212.823700,215.341254,209.396381,213.458876,3.541090e+07
max,2023-06-29 00:00:00,342.770081,346.088477,336.714253,345.940780,2.484285e+08
std,NaN,93.526405,94.516585,92.430558,93.485281,1.591435e+07

In [ ]:
msft.columns

MultiIndex([(  'Date',     ''),
            ( 'Close', 'MSFT'),
            (  'High', 'MSFT'),
            (   'Low', 'MSFT'),
            (  'Open', 'MSFT'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [ ]:
msft.columns = msft.columns.droplevel('Ticker')

In [ ]:
msft.head()

Price       Date      Close       High        Low       Open    Volume
0     2013-07-01  28.194317  28.711268  28.169701  28.514333  31055400
1     2013-07-02  27.849680  28.259958  27.595309  28.235342  37630000
2     2013-07-03  27.907118  28.202519  27.570690  27.619924  15994400
3     2013-07-05  28.071226  28.095845  27.554278  27.972760  26085900
4     2013-07-08  28.169703  28.383046  27.882506  28.186111  32396900

In [ ]:
msft.dtypes

Price
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object

In [ ]:
msft.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [ ]:
msft.index = msft['Date']

In [ ]:
msft.head()

Price            Date      Close       High        Low       Open    Volume
Date
2013-07-01 2013-07-01  28.194317  28.711268  28.169701  28.514333  31055400
2013-07-02 2013-07-02  27.849680  28.259958  27.595309  28.235342  37630000
2013-07-03 2013-07-03  27.907118  28.202519  27.570690  27.619924  15994400
2013-07-05 2013-07-05  28.071226  28.095845  27.554278  27.972760  26085900
2013-07-08 2013-07-08  28.169703  28.383046  27.882506  28.186111  32396900

In [ ]:
msft.drop('Date', axis=1, inplace=True)

In [ ]:
msft.head()

Price           Close       High        Low       Open    Volume
Date
2013-07-01  28.194317  28.711268  28.169701  28.514333  31055400
2013-07-02  27.849680  28.259958  27.595309  28.235342  37630000
2013-07-03  27.907118  28.202519  27.570690  27.619924  15994400
2013-07-05  28.071226  28.095845  27.554278  27.972760  26085900
2013-07-08  28.169703  28.383046  27.882506  28.186111  32396900

In [ ]:
mean_close = msft['Close'].mean()
mean_close

127.43482040932693

In [ ]:
std_close = msft['Close'].std()
std_close

93.52640469088992

In [ ]:
min_close = msft['Close'].min()
min_close

25.740442276000977

In [ ]:
max_close = msft['Close'].max()
max_close

342.77008056640625

In [ ]:
stats = pd.DataFrame(
    { "mean_close" : [mean_close],
      "std_close" : [std_close],
      "min_close" : [min_close],
      "max_close" : [max_close] 
     }
)

In [ ]:
stats

   mean_close  std_close  min_close   max_close
0   127.43482  93.526405  25.740442  342.770081

In [ ]:
# Salvar estatísticas adicionais em CSV
stats.to_csv('script_stats.csv', header=True, index=False)

In [ ]:
close_prices = msft['Close']

In [ ]:
close_prices.head()

Date
2013-07-01    28.194317
2013-07-02    27.849680
2013-07-03    27.907118
2013-07-05    28.071226
2013-07-08    28.169703
Name: Close, dtype: float64

In [32]:
from scipy import stats

In [33]:
shapiro_test = stats.shapiro(close_prices)
print(f"\nTeste Shapiro-Wilk: W={shapiro_test[0]}, p-value={shapiro_test[1]}")

Teste Shapiro-Wilk: W=0.8625917928590552, p-value=2.0087916804114243e-42

In [34]:
# Teste de Normalidade (Anderson-Darling)
ad_test = stats.anderson(close_prices)
print(f"\nTeste Anderson-Darling: Statistic={ad_test.statistic}, Critical Values={ad_test.critical_values}, Significance Level={ad_test.significance_level}")

Teste Anderson-Darling: Statistic=130.88709233566306, Critical Values=[0.575 0.655 0.786 0.917 1.09 ], Significance Level=[15.  10.   5.   2.5  1. ]

In [35]:
# Teste de Homogeneidade de Variância (Levene)
# Assumindo que estamos comparando entre duas partes dos dados
split_index = len(close_prices) // 2
levene_test = stats.levene(close_prices[:split_index], close_prices[split_index:])
print(f"\nTeste de Levene: Statistic={levene_test.statistic}, p-value={levene_test.pvalue}")

Teste de Levene: Statistic=2041.119457815999, p-value=0.0

In [36]:
stats_adv = pd.DataFrame(
    { "shapiro-wilk" : [shapiro_test],
      "anderson" : [ad_test],
      "levene" : [levene_test],
     }
)

In [37]:
stats_adv

,shapiro-wilk,anderson,levene
0,"(0.8625917928590552, 2.0087916804114243e-42)","(130.88709233566306, [0.575, 0.655, 0.786, 0.9...","(2041.119457815999, 0.0)"

In [38]:
stats_adv.to_csv('script2_stats_adv.csv', header=True, index=False)

In [39]:
# Teste de Dickey-Fuller Aumentado (ADF)
adf_test = adfuller(close_prices)
print(f"\nTeste ADF: Statistic={adf_test[0]}, p-value={adf_test[1]}, Critical Values={adf_test[4]}")

Teste ADF: Statistic=0.8248963222838871, p-value=0.992027595788992, Critical Values={'1%': -3.4329757705711432, '5%': -2.862700050059295, '10%': -2.567387539813443}

In [40]:
# Teste KPSS
kpss_test = kpss(close_prices)
print(f"\nTeste KPSS: Statistic={kpss_test[0]}, p-value={kpss_test[1]}, Critical Values={kpss_test[3]}")

Teste KPSS: Statistic=7.582794595967422, p-value=0.01, Critical Values={'10%': 0.347, '5%': 0.463, '2.5%': 0.574, '1%': 0.739}

C:\Users\User\AppData\Local\Temp\ipykernel_38044\2084047125.py:2: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is smaller than the p-value returned.

  kpss_test = kpss(close_prices)

In [41]:
# Teste de Phillips-Perron
pp_test = PhillipsPerron(close_prices)
pp_test_statistic = pp_test.stat
pp_test_pvalue = pp_test.pvalue
print(f"\nTeste Phillips-Perron: Statistic={pp_test_statistic}, p-value={pp_test_pvalue}")

Teste Phillips-Perron: Statistic=0.7993723715798502, p-value=0.9916260301702727

In [42]:
# Teste de Ljung-Box
ljung_box_test = q_stat(acf(close_prices, fft=False, nlags=40), len(close_prices))
print(f"\nTeste Ljung-Box: Statistics={ljung_box_test[0]}, p-values={ljung_box_test[1]}")

Teste Ljung-Box: Statistics=[ 2520.00119237  5032.73535449  7538.60403596 10037.77949527
 12530.73066669 15017.16200746 17496.73259271 19970.10367462
 22436.80377811 24897.05961993 27350.05331212 29796.42355946
 32236.4470042  34670.23497106 37097.96288185 39519.48248191
 41935.24114436 44344.58670612 46747.65695068 49144.30559841
 51534.67158309 53918.9859879  56296.81110133 58668.27434393
 61033.74996431 63393.92977679 65748.69656752 68097.99708624
 70441.96669081 72780.49401807 75113.73418601 77441.773152
 79764.71158743 82082.68793308 84395.72729926 86703.47616413
 89006.05068875 91303.4826808  93595.79719867 95883.16245332
 98165.72305842], p-values=[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [43]:
# ACF e PACF
acf_vals = acf(close_prices, fft=False, nlags=40)
pacf_vals = pacf(close_prices, nlags=40)

In [44]:
# Salvar ACF e PACF em CSV
acf_df = pd.DataFrame({'Lag': np.arange(len(acf_vals)), 'ACF': acf_vals})
pacf_df = pd.DataFrame({'Lag': np.arange(len(pacf_vals)), 'PACF': pacf_vals})

In [46]:
acf_df.to_csv('script2_acf.csv', index=False)
pacf_df.to_csv('script2_pacf.csv', index=False)

In [47]:
# Baixar dados de ações da Microsoft e Apple para os últimos 10 anos usando yfinance
msft = yf.download('MSFT', start='2013-06-30', end='2023-06-30')
aapl = yf.download('AAPL', start='2013-06-30', end='2023-06-30')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [48]:
aapl = yf.download('AAPL', start='2013-06-30', end='2023-06-30')

[*********************100%***********************]  1 of 1 completed

In [49]:
aapl.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2013-07-01  12.562918  12.656553  12.317320  12.362450  391053600
2013-07-02  12.847505  12.943902  12.570595  12.585637  469865200
2013-07-03  12.918419  12.985345  12.815576  12.920261  240928800
2013-07-05  12.814654  12.994862  12.751107  12.905833  274024800
2013-07-08  12.741900  12.924564  12.606822  12.897242  298138400

In [50]:
# Manter apenas a coluna de fechamento ajustado
msft_close = msft[['Close']]
aapl_close = aapl[['Close']]

In [51]:
aapl_close.head()

Price           Close
Ticker           AAPL
Date
2013-07-01  12.562918
2013-07-02  12.847505
2013-07-03  12.918419
2013-07-05  12.814654
2013-07-08  12.741900

In [52]:
msft_close.head()

Price           Close
Ticker           MSFT
Date
2013-07-01  28.194317
2013-07-02  27.849680
2013-07-03  27.907118
2013-07-05  28.071226
2013-07-08  28.169703

In [53]:
# Combinar os dois dataframes em um único dataframe
combined_df = pd.concat([msft_close, aapl_close], axis=1)
combined_df.columns = ['MSFT_Close', 'AAPL_Close']

In [54]:
# Remover NaNs
combined_df.dropna(inplace=True)

In [55]:
combined_df.head()

            MSFT_Close  AAPL_Close
Date
2013-07-01   28.194317   12.562918
2013-07-02   27.849680   12.847505
2013-07-03   27.907118   12.918419
2013-07-05   28.071226   12.814654
2013-07-08   28.169703   12.741900

In [56]:
# Aplicar o Teste de Causalidade de Granger
# O parâmetro 'maxlag' define o número máximo de lags a serem testados
maxlag = 5
test_result = grangercausalitytests(combined_df[['AAPL_Close', 'MSFT_Close']], maxlag = maxlag)

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=13.9833 , p=0.0002  , df_denom=2513, df_num=1
ssr based chi2 test:   chi2=14.0000 , p=0.0002  , df=1
likelihood ratio test: chi2=13.9612 , p=0.0002  , df=1
parameter F test:         F=13.9833 , p=0.0002  , df_denom=2513, df_num=1

Granger Causality
number of lags (no zero) 2
ssr based F test:         F=7.8494  , p=0.0004  , df_denom=2510, df_num=2
ssr based chi2 test:   chi2=15.7300 , p=0.0004  , df=2
likelihood ratio test: chi2=15.6810 , p=0.0004  , df=2
parameter F test:         F=7.8494  , p=0.0004  , df_denom=2510, df_num=2

Granger Causality
number of lags (no zero) 3
ssr based F test:         F=5.2908  , p=0.0012  , df_denom=2507, df_num=3
ssr based chi2 test:   chi2=15.9168 , p=0.0012  , df=3
likelihood ratio test: chi2=15.8667 , p=0.0012  , df=3
parameter F test:         F=5.2908  , p=0.0012  , df_denom=2507, df_num=3

Granger Causality
number of lags (no zero) 4
ssr based F test:         F=5.9271  , p=0.0001  , df_denom=2504, df_num=4
ssr based chi2 test:   chi2=23.7934 , p=0.0001  , df=4
likelihood ratio test: chi2=23.6815 , p=0.0001  , df=4
parameter F test:         F=5.9271  , p=0.0001  , df_denom=2504, df_num=4

Granger Causality
number of lags (no zero) 5
ssr based F test:         F=5.7756  , p=0.0000  , df_denom=2501, df_num=5
ssr based chi2 test:   chi2=29.0052 , p=0.0000  , df=5
likelihood ratio test: chi2=28.8390 , p=0.0000  , df=5
parameter F test:         F=5.7756  , p=0.0000  , df_denom=2501, df_num=5